<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Edit Todo <%= todo.id%></h2>
    <form action="/todos/update/<%= todo.id %>" method="post" headers={"userid": "2"}>
        <label>title</label><br>
        <input type="text" name="title" value="<%= todo.title %>" placeholder="enter the title"><br><br>
        <label>description</label><br>
        <input type="text" name="description" value="<%= todo.description %>" placeholder="enter the description"><br><br>
        <label>author ID</label><br>
        <input type="number" name="author_id" value="<%= todo.author_id %>" placeholder="author id"><br><br>
        <input type="submit" value="Save">
        <button><a href="/todos">Back</a></button>
    </form>
</body>
</html>